{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@middleware": "./src/middleware",
          "@root": "./src/app.js",
          "@router": "./src/router",
          "@src": "./src",
          "@utils": "./src/utils"
        }
      }
    ]
  ],
  "presets": ["env"]
}
